p , h2{
    color: white;
    display: block;
    margin: 0;
}

.erreur {
    color: red;
    font-weight: bold;
}

.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.messages {
    margin-bottom: 20px;
}